/*aca ve el comentario que veo yo pero no el usuario
puedo dar enter y esto va a estar dentro del comentario.*/
/*sintaxis básica de CSS*/
/*
selector
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    4 selectores básicos::after
    -Universal´-- Esta repesnetado por el * selecciona a todos los lementos del html
    */